/*====== MzPopupLayer.css == meizz == 2007-01-23 ======*/
html *{-moz-user-select: none;}
html, body{height: 100%; max-height:100%;}
body,td,th{font: 12px Geneva, Arial, Helvetica, sans-serif; cursor:default;}
body{margin:0; padding:0px; overflow:hidden;}

/*--= dropdownmenu or contentment =--*/
table{border:solid 1px #808080; background:#FFFFFF url(MzPopupMenu/bg.gif) repeat-y left;}
td{line-height:20px;}
td.icon div{text-align:center;}
td.text{}
td.hasChild div{text-align:center;}
td.hasChild img{width:4px; height:7px; background:url(MzPopupMenu/hasChild.gif) no-repeat left top;}

td.line{line-height:normal; font-size:1px;}
td.line div{border-top:solid 1px #999999; height:2px; margin-top:2px; margin-right:1px;}
tr.line td.icon{font-size:1px; height:1px; line-height:normal;}

tr.disabled{color:#999999;}
tr.disabled td.hasChild img{background-position:left -14px;}

/*--== popupmenu system style ==--*/
.PopupMenuTrigger{background-color:#DDDDDD;}
.MouseOver{background-color:#0A249A; color:#FFFFFF;}
.MouseOver td.hasChild img{background-position:left -7px;}
.disabled .MouseOver{color:#999999;}
