/.svn/
/ASSESS_accessType.xml
/ASSESS_accessType_zh_CN.xml
/ASSESS_pp.xml
/ASSESS_pp_zh_CN.xml
/bidlink.properties
/com/
/fckeditor.properties
/hibernate/
/log4j.properties
/projectnew-manager.xml
/projectnew-servlet.xml
/resources/
/security.properties
/systemConf.xml
/systemConf_zh_CN.xml
