<html>
<head>
<meta http-equiv="Content-Type" content="text/html;   charset=utf-8">
<title>Menu</title>
<link href="../style/blue/othercommon/css/main.css" rel="stylesheet" type="text/css" />
<script src="../js/left.js"></script>
<script src="../js/changeframe.js"></script>
	</head>
<body>
		<table class="left" cellpadding="0" cellspacing="0" border="0" align="left" id="showtree">
		   <tr  onClick="showSubmenu(0);">
			 <td  id="td0"  onClick="changeColor(0);" class="tree_title_bg1" valign="top">
             <div class="showtree" id="hideleft" onClick="changeFrameleft()" title="隐藏左侧菜单"></div>模板列表
             </td>
		  </tr>	
			<tr class=submunuTbody id=submunuTbody>
			 <td valign="top" style="margin:0px; padding:8px 2px 2px 10px;">
             	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                	<tr>
                    	<td width="20"><img src="../style/blue/othercommon/images/folderopen.gif" /></td>
                        <td><a href="content.html" target="contentFrame">根目录</a></td>
                    </tr>
                    <tr>
                    	<td width="20"><img src="../style/blue/othercommon/images/page.gif" /></td>
                        <td><a href="contentPage.html" target="contentFrame">模板1</a></td>
                    </tr>
                </table>
			 </td>
			</tr>
      </table> 
      <table class="left" cellpadding="0" cellspacing="0" border="0" align="center" id="notree" style="display:none; width:75%;">
		   <tr>
			 <td  class="tree_title_bg2" valign="top">
             <div class="notree" id="openleft" onClick="changeFrameleft()" title="显示左侧菜单"></div>
             </td>
		  </tr>		
      </table>
        <!--多个OutLook菜单类型-->

</body>
</html>